* {
    margin: 0;
    padding: 0;
}

html, body {
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    }

.container {
    width: 55%;
    margin: 0 auto;
}

#main-header {
    background-color: rgb(62,126,187);
    margin-top: 0;
}

header h1 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
.fill {
    color: rgb(187,123,62) ;
}

 .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.col-md-6 {
    width: 50%;
    display: flex;
}

#header-title {
    justify-content: start;
    margin: 1rem 0 1rem 0;
}

#filter {
    width: 100%;
    min-width: 75%;
    height: 32px;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    font-size: 16px;
    line-height: 20px;
    padding: 0 1rem;
    border-radius: 25px;
    border: solid 1px rgb(187, 187, 187);

}

#filter:hover {
    border: solid 1px gray;
}


#main {
    margin: 1rem 0;
    border: solid 1px rgb(187, 187, 187);
    box-shadow: 0 10px 6px -6px #777;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;

} 

#main h2 {
    margin: 1rem 0 0.5rem 0;
    font-size: 32px;
    line-height: 35.2px;
    font-weight: 400;
}

form {
    display: flex;  
    margin: 0 0 1rem 0;
    justify-content: flex-start;
}

form input[type="submit"] {
    margin: 0 .5rem;
    width: 77px;
    font-size: 16px;
    line-height: 20px;
    background-color: rgb(226, 226, 226);
    color: gray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    border: solid 1px gray;
    color: black;
}

form input[type="text"] {
    height: 32px;
    width: 245px;
    margin: 0;
    border-radius: 25px;
    font-size: 16px;
    border: solid 1px rgb(187, 187, 187);
    padding: 0 1rem;
}

form input[type="text"]:hover {
    box-shadow: 0 0 10px rgb(180, 180, 180);
    border: solid 1px transparent;
}

#items {
    margin: 0;
}

.item-wrapper {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    box-shadow: 0 10px 6px -6px #777;
}

.list-group-item {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    border: solid 1px rgb(187, 187, 187);
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 1rem;
    font-size: 20px;
    background-color: khaki;
    color: rgb(95, 95, 95);
}

.list-group-item button {
    position: absolute;
    height: 31px;
    line-height: 15px;
    color: gray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
}

.list-group-item button:hover {
    border: solid 1px black;
    color: black;
}

.delete {
    width: 35px;
    right: 1rem;
    font-size: 15px;
}

.expand {
    width: 35px;
    right: 4rem;
    font-size: 15px;
}

.collapse {
    width: 35px;
    right: 4rem;
    font-size: 15px;
    display: none;
}


.note-field {
    box-sizing: border-box; /*otherwise piece of shit expands over its container*/
    width: 100%;
    height: 650px;
    overflow-y: auto;
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    border: solid 1px rgb(187, 187, 187);
    background-color: khaki;
    color: rgb(95, 95, 95);
    display: none;

}

@media (max-width: 750px) {
    .row {
        flex-direction: column;
        justify-content: center;
    }
    .col-md-6 {
        width: 100%;
    }
    #filter {
        margin: 0 0 1rem 0;
    }
    .container {
        width: 95%;
        margin: 0 auto;
    }
}

